.bkz-padding-10px 
{       
   padding:10px;    
}
.bkz-padding-20px 
{    
   padding:20px;
}
.bkz-padding-30px 
{    
   padding:30px;
}
.bkz-padding-40px 
{    
   padding:40px;
}
.bkz-padding-50px 
{    
   padding:50px;
}
.bkz-padding-60px 
{    
   padding:60px;
}
.bkz-padding-70px 
{    
   padding:70px;
}
.bkz-padding-80px 
{    
   padding:80px;
}
.bkz-padding-90px 
{    
   padding:90px;
}
.bkz-padding-100px 
{    
   padding:100px;
}
.bkz-padding-200px 
{    
   padding:200px;
}
.bkz-padding-300px 
{    
   padding:300px;
}
.bkz-padding-400px 
{    
   padding:400px;
}
.bkz-padding-500px 
{    
   padding:500px;
}
.bkz-padding-600px 
{    
   padding:600px;
}    




.bkz-padding-left-10px 
{
       
   padding-left:10px;    
}
.bkz-padding-left-20px 
{    
    padding-left:20px;
}
.bkz-padding-left-30px 
{    
    padding-left:30px;
}
.bkz-padding-left-40px 
{    
    padding-left:40px;
}
.bkz-padding-left-50px 
{    
    padding-left:50px;
}
.bkz-padding-left-60px 
{    
    padding-left:60px;
}
.bkz-padding-left-70px 
{    
    padding-left:70px;
}
.bkz-padding-left-80px 
{    
    padding-left:80px;
}
.bkz-padding-left-90px 
{    
    padding-left:90px;
}
.bkz-padding-left-100px 
{    
    padding-left:100px;
}
.bkz-padding-left-200px 
{    
    padding-left:200px;
}
.bkz-padding-left-300px 
{    
    padding-left:300px;
}
.bkz-padding-left-400px 
{    
    padding-left:400px;
}
.bkz-padding-left-500px 
{    
    padding-left:500px;
}
.bkz-padding-left-600px 
{    
    padding-left:600px;
}




.bkz-padding-right-10px 
{
       
   padding-right:10px;    
}
.bkz-padding-right-20px 
{    
    padding-right:20px;
}
.bkz-padding-right-30px 
{    
    padding-right:30px;
}
.bkz-padding-right-40px 
{    
    padding-right:40px;
}
.bkz-padding-right-50px 
{    
    padding-right:50px;
}
.bkz-padding-right-60px 
{    
    padding-right:60px;
}
.bkz-padding-right-70px 
{    
    padding-right:70px;
}
.bkz-padding-right-80px 
{    
    padding-right:80px;
}
.bkz-padding-right-90px 
{    
    padding-right:90px;
}
.bkz-padding-right-100px 
{    
    padding-right:100px;
}
.bkz-padding-right-200px 
{    
    padding-right:200px;
}
.bkz-padding-right-300px 
{    
    padding-right:300px;
}
.bkz-padding-right-400px 
{    
    padding-right:400px;
}
.bkz-padding-right-500px 
{    
    padding-right:500px;
}
.bkz-padding-right-600px 
{    
    padding-right:600px;
}




.bkz-padding-bottom-10px 
{
       
   padding-bottom:10px;    
}
.bkz-padding-bottom-20px 
{    
    padding-bottom:20px;
}
.bkz-padding-bottom-30px 
{    
    padding-bottom:30px;
}
.bkz-padding-bottom-40px 
{    
    padding-bottom:40px;
}
.bkz-padding-bottom-50px 
{    
    padding-bottom:50px;
}
.bkz-padding-bottom-60px 
{    
    padding-bottom:60px;
}
.bkz-padding-bottom-70px 
{    
    padding-bottom:70px;
}
.bkz-padding-bottom-80px 
{    
    padding-bottom:80px;
}
.bkz-padding-bottom-90px 
{    
    padding-bottom:90px;
}
.bkz-padding-bottom-100px 
{    
    padding-bottom:100px;
}
.bkz-padding-bottom-200px 
{    
    padding-bottom:200px;
}
.bkz-padding-bottom-300px 
{    
    padding-bottom:300px;
}
.bkz-padding-bottom-400px 
{    
    padding-bottom:400px;
}
.bkz-padding-bottom-500px 
{    
    padding-bottom:500px;
}
.bkz-padding-bottom-600px 
{    
    padding-bottom:600px;
} 





.bkz-padding-top-10px 
{
       
   padding-top:10px;    
}
.bkz-padding-top-20px 
{    
    padding-top:20px;
}
.bkz-padding-top-30px 
{    
    padding-top:30px;
}
.bkz-padding-top-40px 
{    
    padding-top:40px;
}
.bkz-padding-top-50px 
{    
    padding-top:50px;
}
.bkz-padding-top-60px 
{    
    padding-top:60px;
}
.bkz-padding-top-70px 
{    
    padding-top:70px;
}
.bkz-padding-top-80px 
{    
    padding-top:80px;
}
.bkz-padding-top-90px 
{    
    padding-top:90px;
}
.bkz-padding-top-100px 
{    
    padding-top:100px;
}
.bkz-padding-top-200px 
{    
    padding-top:200px;
}
.bkz-padding-top-300px 
{    
    padding-top:300px;
}
.bkz-padding-top-400px 
{    
    padding-top:400px;
}
.bkz-padding-top-500px 
{    
    padding-top:500px;
}
.bkz-padding-top-600px 
{    
    padding-top:600px;
}
.bkz-padding-top-10ppc
{
       
   padding-top:10%;    
}
.bkz-padding-top-20ppc
{    
    padding-top:20%;
}
.bkz-padding-top-30ppc
{    
    padding-top:30%;
}
.bkz-padding-top-40ppc
{    
    padding-top:40%;
}
.bkz-padding-top-50ppc
{    
    padding-top:50%;
}
.bkz-padding-top-60ppc
{    
    padding-top:60%;
}
.bkz-padding-top-70ppc
{    
    padding-top:70%;
}
.bkz-padding-top-80ppc
{    
    padding-top:80%;
}
.bkz-padding-top-90ppc
{    
    padding-top:90%;
}
.bkz-padding-top-100pc 
{    
    padding-top:100%;
}
.bkz-padding-bottom-10ppc
{
       
   padding-bottom:10%;    
}
.bkz-padding-bottom-20ppc
{    
    padding-bottom:20%;
}
.bkz-padding-bottom-30ppc
{    
    padding-bottom:30%;
}
.bkz-padding-bottom-40ppc
{    
    padding-bottom:40%;
}
.bkz-padding-bottom-50ppc
{    
    padding-bottom:50%;
}
.bkz-padding-bottom-60ppc
{    
    padding-bottom:60%;
}
.bkz-padding-bottom-70ppc
{    
    padding-bottom:70%;
}
.bkz-padding-bottom-80ppc
{    
    padding-bottom:80%;
}
.bkz-padding-bottom-90ppc
{    
    padding-bottom:90%;
}
.bkz-padding-bottom-100pc 
{    
    padding-bottom:100%;
}
.bkz-padding-left-10ppc
{
       
   padding-left:10%;    
}
.bkz-padding-left-20ppc
{    
    padding-left:20%;
}
.bkz-padding-left-30ppc
{    
    padding-left:30%;
}
.bkz-padding-left-40ppc
{    
    padding-left:40%;
}
.bkz-padding-left-50ppc
{    
    padding-left:50%;
}
.bkz-padding-left-60ppc
{    
    padding-left:60%;
}
.bkz-padding-left-70ppc
{    
    padding-left:70%;
}
.bkz-padding-left-80ppc
{    
    padding-left:80%;
}
.bkz-padding-left-90ppc
{    
    padding-left:90%;
}
.bkz-padding-left-100pc 
{    
    padding-left:100%;
}
.bkz-padding-right-10ppc
{
       
   padding-right:10%;    
}
.bkz-padding-right-20ppc
{    
    padding-right:20%;
}
.bkz-padding-right-30ppc
{    
    padding-right:30%;
}
.bkz-padding-right-40ppc
{    
    padding-right:40%;
}
.bkz-padding-right-50ppc
{    
    padding-right:50%;
}
.bkz-padding-right-60ppc
{    
    padding-right:60%;
}
.bkz-padding-right-70ppc
{    
    padding-right:70%;
}
.bkz-padding-right-80ppc
{    
    padding-right:80%;
}
.bkz-padding-right-90ppc
{    
    padding-right:90%;
}
.bkz-padding-right-100pc 
{    
    padding-right:100%;
}
